## Introduction

#### 1.1 Advantages of Longitudinal Studies:

Longitudinal methods help because:

* To achieve similar level of stat power, fewer subject are needed.
* reapeated nature of study makes the diviations of individual subjects more significant.

* each subject serves as his/her own control

* Statistical estimates of individual trends can be used to better understand heterogeneity in the population and the determinants of growth and change at the level of the individual.

#### 1. 2 CHALLENGES OF LONGITUDINAL DATA ANALYSIS:

* Observations are not, by definition, independent and we must account for the dependency in data using more sophisticated statistical methods.



* Often, there is a lack of available computer software for application of these more complex statistical models, or the level of statistical sophistication required of the user is beyond the typical level of the practitioner. In certain cases, for example nonlinear models for binary, ordinal, or nominal endpoints, parameter estimation can be computationally intensive due to the need for numerical or Monte Carlo simulation methods to evaluate the likelihood of nonlinear mixed-effects regression models.

* more likely that there are missing data due to attrition
* the values of the predictors or independent variables can also change over time

* "The treatment of time-varying covariates in analysis of longitudinal data permits much stronger statistical inferences about dynamical relationships than can be obtained using cross-sectional data. The price, however, is considerable added complexity to the statistical model."

* "repeated measurements involve different conditions that the same subjects are exposed to. A classic example is a crossover design in which two or more treatments are given to the same subject in different orders"

#### 1.3 SOME GENERAL NOTATION

N subjects in the longitudinal study as:
$$ i = 1, ..., N \hspace{.1cm} subjects$$
measurement occasions as:
$$ j = 1, ..., n \hspace{.1cm} observations$$
in the unbalanced case of unequal numbers of measurements or different time-points for different subjects:
 $$ j = 1, ..., n_i \hspace{.1cm} observations \hspace{.1cm} for \hspace{.1cm} subject \hspace{.1cm} i$$
 Total number of Observations
 $$ \sum_{i}^{N}{n_i} $$
The repeated responses, or outcomes, or dependent measures for subject $i$ are denoted as
the vector:
$$\mathbf{y_i} = n_i \times 1 $$
The values of the p predictors, or covariates, or independent variables for subject $i$ on
occasion $j$ are denoted as(includingan intercept term):
$$\mathbf{x_{ij}} = p \times 1$$
For time-invanant predictors (between subject, e.g., sex), the values of xt3are constant for j = 1,, ..,n,. For time-varying predictors (within-subject, e.g., age), the x,]can take on subject- and timepoint-specific values. To describe the entire matrix of predictors for subject 2, we use the notation
$$\mathbf{X_i} = n_i \times p$$

#### 1.4 DATA LAYOUT

![title](Screen%20Shot%202018-06-29%20at%2012.54.33%20AM.png)

"The above layout depicts what is called a 2-level design in the multilevel [Goldstein, 199.51and hierarchical linear modeling [Raudenbush and Bryk, 20021literatures. Namely, repeated observations at level 1 are nested within subjects at level 2. In some cases,
subjects themselves are nested within sites, hospitals, clinics, workplaces, etc."

#### 1.5 ANALYSIS CONSIDERATIONS

There are several different features of longitudinal studies that must be considered when selecting an appropriate longitudinal analysis:

1. form of the outcome or response measure:
    * continuous and normally distributed(e.g.,a mixed-effects linear regression model)
    * continuous but does not have a normal distribution( e.g.,acount), then alternative nonlinear models ( e.g., a mixed-effects Poisson regression model)
    * For qualitative outcomes,such as binary(yes or no),ordinal( e.g.,sad,neutral, happy), or nominal (republican, democrat, independent), more complex nonlinear models are also typically required.
    
2. number of subjects $N$:
    * The more advanced models ( e.g., generalized mixed-effects regression models) that are appropriate for analysis of unbalanced longitudinal data are based on large sample theory and may be inappropriate for analysis of small N studies (e.g.,N < 50).

3. number of observations per subject $n_i$:
    * When $n_i = n$ for all subjects, the design is said to be balanced, and traditional ANOVA or MANOVA models for repeated measurements ( i.e., traditional mixed-effects models or multivariate growth curve models) can be used. 
    * In the most general case where $n_i$ varies from subject to subject, more general methods are required ( e.g., generalized mixed-effects regression models)

4. number and type of covariates is an important consideration for model selection for $E(\mathbf{y_i})$

5. selection of a plausible variance-covariance structure for the $V(\mathbf{y_i})$:
    * Different model specificationslead to
        - (a) homogeneous or heterogeneous variances
        - (b) homogeneous or heterogeneous covariances of the repeated measurements over time.
    * Residual autocorrelation among the responses may also play a role in modeling the variance-ccwariance structure of the data.

#### 1.6 GENERAL APPROACHES


1. “derived variable” approach:
    * reduction of the repeated measurements into a summary variable. Once reduced, this approach is strictly not longitudinal, a t-test is fine.
    * Examples of derived variables include 
        - (a) average across time
        - (b) linear trend across time, 
        - (c) carrying the last observation forward, 
        - (d) computing a change score, and
        - (e) computing the area under the curve.
    * In the unbalanced case ( e.g., drop-outs) therefore violate homoscedasticity.
    *  reducing multiple repeated measurements to a single summary measurement: substantial loss of statistical power.

2. ANOVA - Simple but most restrictive
    * The model assumes compound symmetry which implies constant variances and covariances over time.
    * Subjects don't always deviate from only baseline.
3. MANOVA
    * In the multivariate case, the repeated observations are generally trans- formed to orthogonal polynomial coefficients, and these coefficients ( eg., constant, linear, quadratic growth rates) are then used as multivariate responses in a MANOVA.
    * does not permit missing data or different measurement occasions for different subjects.
4. generalized mixed-effects regression models - widely used for analysis of longitudinal data (“full-likelihood”)

    * can be applied to both normally distributed continuous outcomes as well as categorical outcomes and other nonnormally distributed outcome
    *  robust to missing data and irregularly spaced measurement occasions and can easily handle both time-invariant and time-varying covariates
    * The disadvantage: methods are more computationally complex
    
5. covariance pattern models
    * variance-cwariance matrix of the repeated outcomes is modeled directly, and there is no attempt at distinguishing within-subjects variance from between-subjects variance
    
    
6. GEE Models - general and computationally convenient alternative to mixed-effects regression models
    * Disadvantage: missingdataareonlyignorableif the missing data are explained by covariates in the model. (A little restrictive)

#### 1.7 THE SIMPLEST LONGITUDIN ALANALYSIS

Single group, two measurement occassions. 

A paired t-test can be used to determine if there is significant average change between two timepoints.

$N$ subjects

$y_{i1}$ - pre-test measurement

$y_{i2}$ - post-test measurement

$d_i = y_{i2} - y_{i1}$ change in score for subject $i$

Testing Difference $H_0:(\mu_{y_2} - \mu_{y_1}) = 0 $

Test:
    
$t = \frac{\bar{d}}{{s_d} / \sqrt{N}}$

$ = \frac{\bar{d}}{\sqrt{[\sum_{i}{d_i^2} - \frac{(\sum_{i}{d_i})^2}{N}] / (N-1)}/\sqrt{N}}$

Same test can be done using a regression model:

$d_i = \beta_0 + e_i$

Assuming Normality, we can test $H_0 : \beta_0 = 0$ bu computing a ratio of $\hat{\beta_0}$ to its $SE$. (t-distribution with N-1 degrees of freedom)


### 1.7.1 Change Score Analysis

Slightly more comlex randomized subjects into two groups:

$x_i = 1$ - treatment 

$x_i = 0$ -  control

A regression model for the change score:

$d_i = \beta_0 + \beta_1 x_i + e_i$

where:

$\beta_0$ - Average $\Delta$ for control group

$\beta_1$ - Difference in Avg change between the two groups

Hypothesis testing is as follows:

$H_0 : \beta_0 = 0$ test whether the avg change is == 0 for control

$H_0: \beta_1 = 0$ test whether avg change is equal fot the two groups


Note: Change score analysis is == to regressing on the post-treatment var's with treatment var:

$d_i = \beta_0 + \beta_1 x_i + e_i$

$y_{i2} - y_{i1} = \beta_0 + \beta_1 x_i + e_i$

$y_{i2} = y_{i1} + \beta_0 + \beta_1 x_i + e_i$

#### 1.7.2 Analysis of Covariance of Post-test Scores

When the slope describing the relationship between the pre-test and post-test score is not one, then we have an ANCOVA:

$y_{i2} = \beta_0 + \beta_1 x_i + \beta_2y_{i1} + e_i$

The Hypothesis tests now become:

$H_0 : \beta_0 = 0$ average post-test is equal to zero for the control group subjects with zero pre-test

$H_0: \beta_1 = 0$ post-test is equal for the two groups, given the same value on the pre-test

$H_0: \beta_2 = 0$ post-test is related to the pre-test, conditional on group

Note: If subjects are randomized to group, then ANCOVA is more efficient

#### 1.7.4 Example

Applying to Television School and Family Smoking Prevention and Cessation Project

- sample - 1600 7th-graders - 135 classrooms - 28 LA schools 

    - between 1 to 13 classrooms per school
    - between 2 to 28 students per classroom 


- outcome - knowledge of the effects of tobacco use
- timing - students tested at pre- and post-intervention
- design - schools randomized to

    - a social-resistance classroom cumculum (CC) 
    - a media (television) intervention (TV)
    - CC combined with TV
    - a no-intervention control group

In [1]:
# wget https://content.sph.harvard.edu/fitzmaur/ala/tvsfp.txt

# Setting up the dataframe
# some transformations from tvsfp.txt are left out
import pandas as pd

columns = ['School_ID', 'Class_ID', 'School_based_Resistance_Curriculum(1=yes,0=no)', \
          'Television_based_Prevention_Program(1=yes,0=no)', 'Pre_interventions_THKS_score', \
          'Post_interventions_THKS_score']


tel_data = pd.read_csv('tvsfp.txt', delimiter='    ', header=None, names = columns)
tel_data

/Users/atorres/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # Remove the CWD from sys.path while we load stuff.

,School_ID,Class_ID,"School_based_Resistance_Curriculum(1=yes,0=no)","Television_based_Prevention_Program(1=yes,0=no)",Pre_interventions_THKS_score,Post_interventions_THKS_score
0,403,403101,1,0,2,3
1,403,403101,1,0,4,4
2,403,403101,1,0,4,3
3,403,403101,1,0,3,4
4,403,403101,1,0,3,4
5,403,403101,1,0,4,3
6,403,403101,1,0,2,2
7,403,403101,1,0,4,4
8,403,403101,1,0,5,5
9,403,403101,1,0,3,4
10,403,403101,1,0,3,3
11,403,403101,1,0,3,4
12,403,403101,1,0,1,3
13,403,403101,1,0,2,4
14,403,403101,1,0,2,2
15,403,403101,1,0,1,4
16,403,403101,1,0,4,4
17,403,403101,1,0,3,3
18,403,403101,1,0,0,3
19,403,403101,1,0,3,4
20,403,403102,1,0,0,2
21,403,403102,1,0,1,5
22,403,403102,1,0,5,3
23,404,404101,1,1,1,3
24,404,404101,1,1,2,4
25,404,404101,1,1,4,2
26,404,404101,1,1,3,3
27,404,404101,1,1,1,2
28,404,404101,1,1,1,1
29,404,404101,1,1,2,3
...,...,...,...,...,...,...
1570,515,515111,0,0,3,4
1571,515,515111,0,0,2,3
1572,515,515111,0,0,4,5
1573,515,515111,0,0,3,2
1574,515,515111,0,0,3,5
1575,515,515111,0,0,2,3
1576,515,515111,0,0,2,4
1577,515,515111,0,0,0,2
1578,515,515111,0,0,3,4
1579,515,515112,0,0,2,3
1580,515,515112,0,0,1,1
1581,515,515112,0,0,1,2
1582,515,515112,0,0,3,3
1583,515,515112,0,0,2,2
1584,515,515112,0,0,3,3
1585,515,515112,0,0,2,4
1586,515,515112,0,0,2,2
1587,515,515112,0,0,2,3
1588,515,515112,0,0,2,1
1589,515,515112,0,0,3,4
1590,515,515113,0,0,0,0
1591,515,515113,0,0,3,2
1592,515,515113,0,0,3,2
1593,515,515113,0,0,3,1
1594,515,515113,0,0,2,0
1595,515,515113,0,0,2,1
1596,515,515113,0,0,1,1
1597,515,515113,0,0,2,1
1598,515,515113,0,0,3,2
1599,515,515113,0,0,3,3

Ignoring the clustering of students within classrooms and schools - more in ch 13

The first hypothesis to be tested is whether there was any overall change across time:

In [2]:
import numpy as np

mean_pre_intervention = np.mean(tel_data['Pre_interventions_THKS_score'])
mean_post_intervention = np.mean(tel_data['Post_interventions_THKS_score'])

print(mean_pre_intervention)
print(mean_post_intervention)
print(mean_post_intervention - mean_pre_intervention)

2.069375
2.661875
0.5925000000000002

Yes, the change is 0.5925

In [3]:
from scipy import stats

t_test = stats.ttest_ind(tel_data['Post_interventions_THKS_score'], tel_data['Pre_interventions_THKS_score'])

t_test

Ttest_indResult(statistic=12.66719407643509, pvalue=6.458841643418911e-36)

According to the t-test, the different is really large and certiantly not due to chance.