
![](../MANOVA_Approaches_to_Longitudinal_Data_Support_Files/1.png)

In [1]:
import pandas as pd
import numpy as np


testing_DF = pd.DataFrame({'t1':[1, 0, 0, 0], \
                          't2':[1, 1, 1, 1], \
                          't3':[1, 2, 4, 8], \
                          't4':[1, 3, 9, 27]})



np_arr = testing_DF.values
time = np_arr
# P already Normalized
pd.DataFrame(np.dot(np.linalg.inv(np.linalg.cholesky(np.dot(time, time.T)).T).T, time))

          0         1         2         3
0  0.500000  0.500000  0.500000  0.500000
1 -0.670820 -0.223607  0.223607  0.670820
2  0.500000 -0.500000 -0.500000  0.500000
3 -0.223607  0.670820 -0.670820  0.223607

## Example

In [45]:
import pandas as pd
import numpy as np

# data = pd.read_csv('../ANOVA_Approaches_to_Longitudinal_Data/VocabGrowth.csv', header=None)
# data.head()

data = pd.read_csv('../ANOVA_Approaches_to_Longitudinal_Data/VocabGrowth.csv', \
                   names = ['8_Grade', '9_Grade', '10_Grade', '11_Grade'])
VocabGrowth = data

In [3]:
y_bar_dot = VocabGrowth.mean()
y_bar_dot

8_Grade     1.137500
9_Grade     2.541719
10_Grade    2.988281
11_Grade    3.468750
dtype: float64

In [4]:
# Orthoginal Matrix
# P already Normalized
P = pd.DataFrame(np.dot(np.linalg.inv(np.linalg.cholesky(np.dot(time, time.T)).T).T, time))
P

          0         1         2         3
0  0.500000  0.500000  0.500000  0.500000
1 -0.670820 -0.223607  0.223607  0.670820
2  0.500000 -0.500000 -0.500000  0.500000
3 -0.223607  0.670820 -0.670820  0.223607

In [5]:
# Orthogonal Polynomial Estimates
np.dot(P, y_bar_dot)

array([ 5.068125  ,  1.66370445, -0.461875  ,  0.22172012])

In [6]:
# Y is the (N x n) matrix of all data
Y = VocabGrowth
Yt_Y = np.dot(Y.T, Y)
Yt_Y

array([[ 307.8958,  386.1704,  441.3901,  432.475 ],
       [ 386.1704,  687.3115,  709.6184,  755.9904],
       [ 441.3901,  709.6184,  867.8297,  876.6472],
       [ 432.475 ,  755.9904,  876.6472, 1003.9108]])

In [7]:
len(Y)*np.dot(y_bar_dot, y_bar_dot.T)

1837.842678125

In [8]:
SSR_r = np.dot(np.dot(P, np.subtract(Yt_Y, len(Y)*np.dot(y_bar_dot, y_bar_dot.T))), P.T)
SSR_r

array([[-4833.4880125 ,   543.32773521,  -199.40535   ,    48.2887824 ],
       [  543.32773521,   227.51182   ,   -37.09949824,    20.46799   ],
       [ -199.40535   ,   -37.09949824,    57.6846    ,   -10.63663996],
       [   48.2887824 ,    20.46799   ,   -10.63663996,    63.86868   ]])

In [9]:
SST_t = len(Y) * np.dot(np.dot(P, np.dot(y_bar_dot, y_bar_dot.T)), P.T)
SST_t

array([[ 1.83784268e+03, -1.13686838e-13, -6.25277607e-13,
         2.44426701e-12],
       [-1.13686838e-13,  1.83784268e+03,  5.68434189e-13,
        -2.04636308e-12],
       [-6.25277607e-13,  5.68434189e-13,  1.83784268e+03,
        -1.18234311e-11],
       [ 2.44426701e-12, -2.04636308e-12, -1.17097443e-11,
         1.83784268e+03]])

To obtain the multivariate test for the grade effect, the determinantal equation using the Cholesky factorization SSR Tn-l) = EE’, yields 4.7432 as Roy’s largest root statistic (eigenvalueor latent root XI ) .

$$\mid\textbf{E}^{-1} SST_{n-1}^*(\textbf{E}^{-1})' - \lambda\textbf{I}_{n-1}\mid = 0$$

In [11]:
SSR_r

array([[-4833.4880125 ,   543.32773521,  -199.40535   ,    48.2887824 ],
       [  543.32773521,   227.51182   ,   -37.09949824,    20.46799   ],
       [ -199.40535   ,   -37.09949824,    57.6846    ,   -10.63663996],
       [   48.2887824 ,    20.46799   ,   -10.63663996,    63.86868   ]])

In [12]:
SSR_n1 = SSR_r[1:, 1:]
SST_n1 = SST_t[1:, 1:]
SST_n1

array([[ 1.83784268e+03,  5.68434189e-13, -2.04636308e-12],
       [ 5.68434189e-13,  1.83784268e+03, -1.18234311e-11],
       [-2.04636308e-12, -1.17097443e-11,  1.83784268e+03]])

In [13]:
E = np.linalg.cholesky(SSR_n1)
E

array([[15.08349495,  0.        ,  0.        ],
       [-2.45960889,  7.18574451,  0.        ],
       [ 1.35697927, -1.01576137,  7.80996262]])

In [14]:
E_inv = np.linalg.inv(E)
E_inv

array([[ 0.06629763,  0.        ,  0.        ],
       [ 0.02269302,  0.13916442,  0.        ],
       [-0.00856775,  0.01809968,  0.12804159]])

In [15]:
np.identity(len(SSR_n1))

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [16]:
np.dot(np.dot(E_inv, SST_n1), E_inv.T)

array([[ 8.07800965,  2.76502237, -1.04393441],
       [ 2.76502237, 36.53945562,  4.27188849],
       [-1.04393441,  4.27188849, 30.8677672 ]])

In [17]:
(1/5.7432)* np.identity(len(SSR_n1))

array([[0.17411896, 0.        , 0.        ],
       [0.        , 0.17411896, 0.        ],
       [0.        , 0.        , 0.17411896]])

In [18]:
np.dot((1/5.7432), np.identity(len(SSR_n1)))

array([[0.17411896, 0.        , 0.        ],
       [0.        , 0.17411896, 0.        ],
       [0.        , 0.        , 0.17411896]])

In [19]:
ident = np.multiply((4.7432), np.identity(len(SSR_n1)))

In [20]:
in_det = np.subtract(np.dot(np.dot(E_inv, SST_n1), E_inv.T), ident)

In [21]:
np.linalg.det(in_det)

2450.20274893223

### $SSCP (n x n)$

$$SST^* = \textbf{P} SST \textbf{P}' = N\textbf{P} \bar{\textbf{y}_{..}}\bar{\textbf{y}_{..}}' \textbf{P}'$$
where $SST = \bar{\textbf{y}_{..}}\bar{\textbf{y}_{..}}'$

$$SSG^* = \textbf{P} SSG \textbf{P}' = \textbf{P}(\sum_h N_h \bar{\textbf{y}_{..}} \bar{\textbf{y}_{..}}' - SST )\textbf{P}'$$
where $SSG = \sum_h N_h \bar{\textbf{y}_{..}} \bar{\textbf{y}_{..}}' - SST $

$$SSY^* = \textbf{P} SSY \textbf{P}' = \textbf{P}(\sum_h \sum_i \textbf{y}_{hi} \textbf{y}_{hi}')\textbf{P}'$$
where $SSY = \sum_h \sum_i \textbf{y}_{hi} \textbf{y}_{hi}'$


$$SSR^* = \textbf{P} SSR \textbf{P}' = \textbf{P}(SSY - SSG - SST )\textbf{P}'$$
and $SSR = SSY - SST - SST$

In [34]:
SST = np.dot(y_bar_dot, y_bar_dot.T)
SST_s = np.multiply(len(Y),np.dot(np.dot(P, SST), P.T))
SST_s

array([[ 1.83784268e+03, -1.13686838e-13, -6.25277607e-13,
         2.44426701e-12],
       [-1.13686838e-13,  1.83784268e+03,  5.68434189e-13,
        -2.04636308e-12],
       [-6.25277607e-13,  5.68434189e-13,  1.83784268e+03,
        -1.18234311e-11],
       [ 2.44426701e-12, -2.04636308e-12, -1.17097443e-11,
         1.83784268e+03]])

In [37]:
SSG = np.subtract(np.multiply(len(Y), np.dot(y_bar_dot, y_bar_dot.T)), SST)
SSG_s = np.dot(np.dot(P, SSG), P.T)
SSG_s

array([[ 1.80912639e+03, -2.27373675e-13, -6.25277607e-13,
         2.44426701e-12],
       [-2.27373675e-13,  1.80912639e+03,  6.25277607e-13,
        -1.98951966e-12],
       [-6.25277607e-13,  6.82121026e-13,  1.80912639e+03,
        -1.14823706e-11],
       [ 2.44426701e-12, -2.04636308e-12, -1.14823706e-11,
         1.80912639e+03]])

In [ ]:
SSY =

In [38]:
np.trace(SST_s[1:, 1:])

5513.5280343750455

In [44]:
import statsmodels.api as sm

sm.